.driveritem {
  margin-bottom: 0.25em;
  padding: 0.5em 0;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    &__column {
      display: flex;
      align-items: center;
    }
  }
}

.driveritem:last-child {
  margin: 0;
}
